* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

button {
    cursor: pointer;
}

.show-form {
    opacity: 1 !important;
    transition: .5s;
    width: 100% !important;
    height: 100% !important;
    visibility: visible;
}

.display-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
}

.form-container {
    position: relative;
}
.form_sign_in, .form_register {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    opacity: 0;
}

/* =================login================= */

.login {
    padding-top: 130px;
    padding-left: 215px;
    width: 50%;
}

.title {
    padding-bottom: 25px;

}

.title h1 {
    padding-bottom: 5px;
    font-size: 50px;
}

.title p {
    font-size: 16px;
}

.block {
    padding-bottom: 25px;

}

.block h2 {
    font-size: 16px;
}

input {
    width: 316px;
    border: 1px solid #C5C5C5;
    padding: 6px;
    border-radius: 6px;
    text-indent: 8px;
}

.input__name {
    border: 1px solid #C5C5C5;
    padding: 6px;
    border-radius: 6px;
    text-indent: 8px;
}

.option {
    display: flex;
    align-items: center;
    font-size: 18px;
    flex-direction: row;
    gap: 70px;
    padding-bottom: 8px;
}

.option p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.option button {
    background: inherit;
    border: none;
}

.option__checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
}

.checkbox {
    width: 12px !important;
    height: 18px;
}

.option button {
    color: #633eba;
    font-weight: 600;
}


.title__mobile {
    display: none;
}

@media only screen and (min-width: 768px) {
    .register__background img {
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, 50%);
      }
}

@media only screen and (max-width: 600px) {
    .container {
        justify-content: center;
        flex-direction: column-reverse;
    }
    .input__name {
        width: 150px !important;
      }
 /* ============register__mobile============= */

    .register__background {
        margin: 20px auto;
        display: block !important;
        width: 150px;
        margin-top: -23em;
        height: 150px;
        background-color: white;
    }
    
    .register__background img {
        position: unset !important;
        width: 150px;
    }

 /* ============title__login__mobile============= */

    .login .title {
        display: none;
    }

    .login {
        width: 100%;
        padding-left: 35px;
        padding-top: 15px;
    }
 /* ============title__login__mobile============= */

    .title__mobile {
        display: block;
        padding-bottom: 45px;
    }

    .title__mobile h1 {
        font-size: 24px;
    }

    .title__mobile p {
        font-size: 12px;
    }

    .title__mobile button {
        font-size: 12px;
        border: 0px;
        background-color: inherit;
        color: #633eba;
    }
 /* ============Sign__in__mobile============= */

    .Sign__in__mobile {
        display: flex;
        gap: 5px;
    }
 /* ============title__register__mobile============= */

 .full__name__mobile h1 {
    font-size: 16px;
 }

 .input__fullname__mobile {
    display: flex;
    gap: 18px;
    padding-bottom: 23px;

 }

 .input__fullname__mobile input {
    width: 150px;
 }

}